html {
    box-sizing: border-box;

}

*, ::after, ::before {
    box-sizing: inherit;
    
}

.body {
    max-width: 100%;
    height: auto;
    background-image: url("../images/background1.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}